@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap") layer(CDNFont);
@layer Reset, CDNFont, Typography, Components, Rounded, Layout;
@layer Reset {
  /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption,
  dialog {
    margin: 0;
    padding: 0;
  }
  body,
  textarea,
  button,
  img,
  fieldset,
  dialog {
    border: none;
  }
  textarea {
    resize: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }
  u,
  ins,
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    cursor: pointer;
    background-color: transparent;
  }
  /* Normalize */
  input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  input[type=date]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type=date]:valid::before {
    display: none;
  }
}
/* Colors */
.sns_youtube, .sns_facebook, .sns_instagram {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}

.sns_instagram {
  background: url(../images/ico_sns1.svg) no-repeat center;
  background-size: contain;
}

.sns_facebook {
  background: url(../images/ico_sns2.svg) no-repeat center;
  background-size: contain;
}

.sns_youtube {
  background: url(../images/ico_sns3.svg) no-repeat center;
  background-size: contain;
}

@layer Typography {
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
}
@layer Componets.Button {
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    box-sizing: border-box;
  }
  .btn.fullsize {
    width: 100%;
  }
  .btn.ico1::after {
    background: url(../images/ico_book.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
  }
  .btn.base {
    height: 4rem;
    font-size: 1.6rem;
    padding-inline: 2.5rem;
    border: 0.1rem solid;
  }
  .btnblue {
    background-color: #000;
    color: #fff;
    border-color: red;
  }
  .btn-search {
    background: url(../images/ico_search.svg) no-repeat center;
    background-size: 2.4rem 2.4rem;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
  .btn-user {
    background: url(../images/ico_user.svg) no-repeat center;
    background-size: 2.4rem 2.4rem;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
  .btn-bag {
    background: url(../images/ico_bag.svg) no-repeat center;
    background-size: 2.4rem 2.4rem;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
  .shoppingbag {
    display: flex;
    align-items: center;
  }
  .bag-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #141718;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
  }
}
@layer Components.Bar {}
@layer components.text {}
@layer Components.tab {}
@layer Componets.List {
  .list-type4 li {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
  }
  .list-type4 li::before {
    display: inline-block;
    margin: 0.8rem 0.4rem 0;
    align-self: start;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background-color: #333;
    border-radius: 10rem;
  }
}
@layer components.table {
  caption {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
.textarea, .select, .input {
  height: 4rem;
  border: 0.1rem solid #000;
  box-sizing: border-box;
  border-radius: 0.4rem;
  background-color: #000;
  padding-inline: 1.2rem;
  color: #000;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.05rem;
}
.textarea::placeholder, .select::placeholder, .input::placeholder {
  color: #000;
}
.textarea:disabled, .select:disabled, .input:disabled {
  background: rgba(0, 0, 0, 0.1);
}
[readonly].textarea, [readonly].select, [readonly].input {
  background: rgba(0, 0, 0, 0.05);
}

.radio-type1 + label {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
  color: #000;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@layer Componets.Form {
  .input {
    width: var(--w, 100%);
  }
  .select {
    background: url(../images/bg_select.svg) no-repeat right 1.2rem center;
    background-size: contain;
    padding-right: 3rem;
    appearance: none;
    width: var(--w, 100%);
  }
  .textarea {
    width: 100%;
    height: calc(var(--height, 10) / 10 * 1rem);
    padding-block: 1.5rem;
  }
  .textarea ::placeholder {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 1.2rem;
    line-height: 1.2rem; /* 100% */
    letter-spacing: -0.05rem;
  }
  .radio-type1 {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .radio-type1 + label::before {
    background: url(../images/ico_radio_off.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 2.4rem;
    height: 2.4rem;
  }
  .radio-type1:checked + label::before {
    background: url(../images/ico_radio_on.svg) no-repeat;
    background-size: contain;
  }
}
@layer Componets.Rounded {
  .rounded8 {
    border-radius: 0.8rem;
  }
  .rounded20 {
    border-radius: 2rem;
  }
  .rounded30 {
    border-radius: 3rem;
  }
  .rounded-full {
    border-radius: 100rem;
  }
}
@layer Componets.Board {}
@layer Componets.gnb {
  .gnb > ul {
    display: flex;
    gap: 4rem;
  }
  @media (1000px > width) {
    .gnb > ul {
      display: none;
    }
  }
  .gnb > ul > li {
    font-size: 1.4rem;
    font-weight: 500;
    color: #141718;
  }
}
@layer layout.Align {
  .align {
    display: flex;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .align.triple > :nth-child(1) {
    justify-self: start;
  }
  .align.triple > :nth-child(2) {
    justify-self: center;
  }
  .align.triple > :nth-child(3) {
    justify-self: end;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .mxauto, .footer__info, .footer hr, .footer__content, .header__inner {
    width: 122.4rem;
    margin-inline: auto;
  }
  @media (1000px > width) {
    .mxauto, .footer__info, .footer hr, .footer__content, .header__inner {
      width: 100%;
    }
  }
  .mxauto, .footer__info, .footer hr, .footer__content, .header__inner {
    width: 122.4rem;
    margin-inline: auto;
  }
  @media (1000px > width) {
    .mxauto, .footer__info, .footer hr, .footer__content, .header__inner {
      width: 100%;
    }
  }
}
@layer Layout.Header {
  .header {
    anchor-name: --header;
    border-bottom: 0.1rem solid #ffab00;
    background-color: #fff;
    background-color: rgba(255, 171, 0, 0.64);
    padding: 1.8rem 0;
  }
  @media (1000px > width) {
    .header {
      background-color: #ffab00;
      padding: 2.2rem 3.2rem;
    }
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
  }
  .header .utillity {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  @media (1000px > width) {
    .header .utillity .btn-search {
      display: block;
      background-color: red;
    }
  }
}
@layer Popup.Header {
  @media (1000px > width) {
    body:has(#sitemap:popover-open) .hader .btn-search {
      display: none;
    }
    body .header__inner ::before {
      content: "";
      width: 3rem;
    }
  }
}
@layer layout.Footer {
  .footer {
    background: #141718;
    color: #e8ecef;
    box-sizing: border-box;
  }
  @media (1000px > width) {
    .footer {
      width: 100%;
      padding: 4.8rem 2.6rem 4rem 2.7rem;
    }
  }
  .footer__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 8rem;
  }
  @media (1000px > width) {
    .footer__info {
      grid-template-columns: auto;
    }
  }
  .footer__left {
    display: flex;
    align-items: center;
  }
  @media (1000px > width) {
    .footer__left {
      text-align: center;
      flex-direction: column;
    }
  }
  .footer__left .logo {
    display: grid;
    grid-template-columns: auto;
    gap: 3rem;
    align-items: center;
    margin-right: 4rem;
  }
  @media (1000px > width) {
    .footer__left .logo {
      display: block;
      margin-right: 0;
    }
  }
  .footer__left span {
    color: #e8ecef;
    font-size: 1.4rem;
    position: relative;
  }
  .footer__left span::before {
    content: "";
    background: #6c7275;
    width: 24px;
    height: 1px;
    display: block;
    position: absolute;
    top: 16px;
    left: 4.4rem;
  }
  @media (1000px > width) {
    .footer__left span {
      padding-top: 3.3rem;
    }
  }
  .footer__right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
  }
  .footer__right li {
    font-size: 1.4rem;
    font-weight: 400;
  }
  @media (1000px > width) {
    .footer__right li {
      margin: 16px 0;
    }
  }
  @media (1000px > width) {
    .footer__right {
      display: block;
      text-align: center;
    }
  }
  .footer hr {
    margin-top: 5.5rem;
    opacity: 0.4;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0 5.2rem;
  }
  @media (1000px > width) {
    .footer__content {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  .footer__sns {
    display: flex;
    gap: 1.2rem;
  }
  @media (1000px > width) {
    .footer__sns {
      margin: 0.8rem 0 2.4rem 0;
    }
  }
  .footer__copyright {
    display: flex;
    align-items: center;
  }
  @media (1000px > width) {
    .footer__copyright {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  .footer__copy {
    font-weight: 400;
    color: #e8ecef;
    font-size: 1.4rem;
    margin-right: 1.4rem;
  }
  @media (1000px > width) {
    .footer__copy {
      font-size: 1.2rem;
      margin-right: 0;
    }
  }
  .footer__policy {
    font-weight: 600;
    color: #e8ecef;
    font-size: 1.4rem;
  }
  .footer__policy a {
    margin-inline: 1.4rem;
  }
  @media (1000px > width) {
    .footer__policy {
      margin: 2.4rem 0;
    }
  }
}
@layer Layout.IR {
  .a11y-hidden {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@layer Layout.Space {
  .mt10 {
    margin-top: 1rem;
  }
  .mt20 {
    margin-top: 2rem;
  }
  .mr10 {
    margin-right: 1rem;
  }
  .mr20 {
    margin-right: 2rem;
  }
  .mb10 {
    margin-bottom: 1rem;
  }
  .mb20 {
    margin-bottom: 2rem;
  }
  .ml10 {
    margin-left: 1rem;
  }
  .ml20 {
    margin-left: 2rem;
  }
  .pt10 {
    padding-top: 1rem;
  }
  .pt80 {
    padding-top: 8rem;
  }
}
.only-mobile {
  display: none;
}
@media (1000px > width) {
  .only-mobile {
    display: block;
  }
}

@layer layout.skip {
  .skip {
    background-color: #141718;
    color: #fff;
    text-align: center;
    padding: 0.8rem 0;
  }
  .skip__ticket {
    background: url(../images/ico_ticket.svg) no-repeat 0 0;
    background-size: contain;
    padding-left: 3.6rem;
    display: inline-block;
    line-height: 2.4rem;
    font-weight: 600;
    color: #fff;
    margin-right: 1.2rem;
    font-size: 1.4rem;
  }
  @media (1000px > width) {
    .skip__ticket {
      font-size: 1.2rem;
      margin-right: 0;
    }
  }
  .skip__link {
    color: #ffab00;
    font-weight: 500;
    font-size: 1.4rem;
    border-bottom: 1px solid #ffab00;
  }
  .skip__link a::after {
    content: "";
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    padding-left: 0.4rem;
    background: url(../images/ico_yellow_arrow.svg) no-repeat 100% 0.3rem;
    background-size: contain;
  }
  @media (1000px > width) {
    .skip__link {
      display: none;
    }
  }
  .skip__close {
    position: absolute;
    right: 1.6rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/ico_skip_close_black.svg) no-repeat 0 0;
    background-size: contain;
  }
  @media (1000px > width) {
    .skip__close {
      position: relative;
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 1.2rem;
      top: 0.5rem;
      right: 0;
      background: url(../images/ico_skip_close_white.svg) no-repeat 0 0;
      background-size: contain;
    }
  }
}

/*# sourceMappingURL=style.css.map */
